---
layout: default
title: Home
js: /assets/js/home.js
---

<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">
        <img style="max-width: 100%" src ="/assets/logo_long.png" />
      </h1>
      {% if site.special_notice.message %}
        <hr>
        <center>
            <p style="color: white; font-size: 1.5em">{{ site.special_notice.message }}</p>
            {% if site.special_notice.link  %}
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ site.special_notice.link }}">
                Find out more
            </a>
            {% endif %}
        </center>
      {% endif %}
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">
          Hello there!
        </h2>
        <hr class="light">
        <p class="text-faded">
          Welcome one, welcome all! Imperial College Robotics Society is
          a student-led university club aiming to increase robotics
          interest at Imperial College London and across the UK. We run
          workshops, competitions and projects to teach about robotics,
          electronics and software as well as providing help (financial
          and technical) to students looking to start a robotics project.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">What do we do</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <h3>Robotics 101</h3>
          <p class="text-muted">
            We run <a target="_blank" href="http://101.icrs.io/">robotics 101</a>
            , our flagship open source introductory robotics course,
            throughout the academic year.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h3>Wednesday Hackdays</h3>
          <p class="text-muted">
            People work on various cool robotics projects on Wednesdays.
            Members usually provide technical help and support to one
            another's projects during these sessions.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Facilities for Makers</h3>
          <p class="text-muted">
            We have a soldering station, laser cutter and 3D printers
            for our members to build whatever they want.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>External Competitions</h3>
          <p class="text-muted">
            We participate in external competitions such as
            <a href="http://piwars.org/">piwars</a> and
            <a href="http://www.eurobot.org/">eurobot</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="project-showcase">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="/assets/img/eurobot-2017-robot.jpg">
          <img class="img-fluid" src="/assets/img/thumbnails/eurobot-2017-robot.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                External Competitions
              </div>
              <div class="project-name">
                Out 2017 Eurobot Entry
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="/assets/img/thumbnails/101.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Courses
              </div>
              <div class="project-name">
                Robotics 101
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/thumbnails/train-your-robot.jpg ">
          <img class="img-fluid" src="assets/img/thumbnails/train-your-robot.jpg " alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Academic Talks
              </div>
              <div class="project-name">
                How to Train Your Robot
              </div>
            </div>
          </div>
        </a>
    </div>
  </div>
</section>

<div class="call-to-action bg-dark">
  <div class="container text-center">
    <h2>Come say hi at the robotics lab!</h2>
    <p>
      <img src="/assets/img/location.jpg" class="full-length-img" />
    </p>
    <a class="btn btn-default btn-xl sr-button" target="_blank"
        href="https://www.imperialcollegeunion.org/activities/a-to-z/robotics">
        Join ICRS now!
    </a>
  </div>
</div>
