---
layout: default
title: Projects
---

<section class="non-home-top bg-primary">
  <div class="container">
    <h2 class="section-heading text-white text-center">
      Projects
    </h2>
    <hr class="light" />
  </div>
</section>

<section id="projects-society-wide">
  <div class="container text-center">
    <h2 class="section-heading">
      Society-Wide Group Projects
    </h2>
    <p class="text-left">
      The society occasionally works on group projects. Members of the
      society are welcomed to join and contribute to these projects. Information
      on these projects will be up very soon.
    </p>
  </div>
</section>

<section id="projects-courses">
  <div class="container text-center">
    <h2 class="section-heading">
      Courses
    </h2>
    <div class="row">
      <div class="col-md-3">
        <p class="text-left">
          <img class="full-length-img" src="/assets/img/101-marketing.jpg" />
        </p>
      </div>
      <div class="col-md-9 text-left">
        <h3 class="text-left">Robotics 101</h3>
        <p>
          Robotics 101 is an <a target="_blank" href="101.icrs.io">open-source</a>
          introductory robotics course that we conduct throughout the academic
          year. Students build and program a simple robot (in python) in this course
          to navigate a simple maze. No prior experience in robotics and programming
          is required in this course.
        </p>
        <p>
          Tickets for the course typically sell out very quickly, so keep in eye
          on this space!
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <h2 class="section-heading">
      External Competitions
    </h2>
    <br />
    <div class="row">
      <div class="col-md-3">
        <p class="text-left">
          <img class="full-length-img" src="/assets/img/piwars.jpg" />
        </p>
      </div>
      <div class="col-md-9 text-left">
        <h3 class="text-left">Piwars</h3>
        <p>
          <a href="http://piwars.org/">Pi wars</a> is a two-day,
          challenge-based robotics compeition in which Raspberry pi
          controlled robots compete in various challenges to earn points.
          In previous years, we hold a local round, where teams from formed
          by our society's members compete and the best team goes to
          the final round in Cambridge.
        </p>
        <p>
          {% if site.person_in_charge.piwars %}
            For more information, please contact
            {{ site.person_in_charge.piwars.name }} at
            {{ site.person_in_charge.piwars.email }}.
          {% else %}
            More information about this year's piwars will be available
            soon!
          {% endif %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-center">
          <img class="full-length-img" src="/assets/img/eurobot.png" />
        </p>
      </div>
      <div class="col-md-9">
        <div class="thumbnail">
          <h3 class="text-left">
            Eurobot
          </h3>
          <div class="text-left">
            <p>
              <a href="http://www.eurobot.org/">Eurobot</a> is an international
              robotics competition open to students and independent clubs. 
              ICRS has first sent a team to Eurobot in 2011, and has since
              them sent teams several times throughout the years. There is a
              local round in UK and an international round hosted at different
              locations throughout Europe.
            </p>
            <p>
              {% if site.person_in_charge.eurobot %}
                We have an entry this year's Eurobot. If you are interested in
                participating, please get in touch with
                {{ site.person_in_charge.eurobot.name }} via
                {{ site.person_in_charge.eurobot.email }} who is the project
                lead of this year's entry.
              {% else %}
                If you are an Imperial student (Undergraduate / Postgraduate)
                interested in starting an entry for this year's Eurobot,
                please send us an email at
                <a href="mailto:{{ site.contact_email }}">
                  {{ site.contact_email }}
                </a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <h2 class="section-heading">Past Projects</h2>
  </div>
</section>
