.footer-logo {
  max-width: 50px;
}

.navbar-logo {
  max-height: 50px;
}

.full-length-img {
  max-width: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.home-banner-notice {
  font-weight: bold;
  background-color: $theme-primary;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
  font-color: white;
}

.non-home-top {
  padding-top: 150px;
}

section#footer {
  background-color: #666666;
  color: white;

  div {
    font-weight: normal;
  }
}
