---
---
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- favicon -->
    <link rel=“apple-touch-icon” sizes=“180x180" href=“/apple-touch-icon.png”>
    <link rel=“icon” type=“image/png” sizes=“32x32" href=“/favicon-32x32.png”>
    <link rel=“icon” type=“image/png” sizes=“16x16" href=“/favicon-16x16.png”>
    <link rel=“manifest” href=“/manifest.json”>
    <link rel=“mask-icon” href=“/safari-pinned-tab.svg” color=“#5bbad5">
    <meta name="theme-color" content=“#ffffff">

    <title>Imperial College Robotics Society | {{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="assets/css/bla.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">
          <img src="/assets/logo-raster-medres.png" class="navbar-logo" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/facilities">Facilities</a>
            </li>
            <li class="nav-item">
              <a target="_none" class="nav-link js-scroll-trigger" href="http://icrobotics.co.uk/wiki/index.php/Main_Page">
                Wiki
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mr-auto text-left">
            <p><div><em>© Imperial College Robotics Society 2018 | contact@icrs.io</em></div></p>
            <p>
              <div>Room 506</div>
              <div>Deparment of Electrical and Electronic Engineering</div>
              <div>Imperial College London</div>
              <div>South Kensington SW7 2AZ</div>
              <div>London, United Kingdom</div>
            </p>
          </div>
          <div class="col-lg-6 mr-auto text-right">
            <p>
              <a href="https://twitter.com/icrobotics">
                <img class="footer-logo" src="/assets/signatures/sig_twitter.png" />
              </a>
            </p>
            <p>
              <a href="https://facebook.com/icrobotics/">
                <img class="footer-logo" src="/assets/signatures/sig_insta.png" />
              </a>
            </p>
            <p>
              <a href="https://www.instagram.com/icrobotics/">
                <img class="footer-logo" src="/assets/signatures/sig_fb.png" />
              </a>
            </p>
            <p>
              <a href="mailto:contact@icrs.io" style="color: white">
                <i class="fa fa-envelope-o fa-3x"></i>
              </a>
            </p>
          </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/assets/js/creative.js"></script>

    {% if page.js %}
      <script src="{{ page.js }}"></script>
    {% endif %}

  </body>

</html>
